# .gitignore
# Feel free to add your useless shizzle
# Files
/src/network/adjacency.npy
/literature
results/base_features/log_lasso_classif.txt
results/base_features/log_lasso_no_lovar_classif.txt
results/base_features/log_ridge_no_lovar_classif.txt
results/base_features/randomForest_classif.txt
results/base_features/xgboost_classif.model
results/base_features/xgboost_classif.txt
results/base_features/xgboost_preds_herring.csv
results/base_features/xgboost_preds_herring_rc.pdf
results/base_features/xgboost_preds_joost.csv
results/base_features/xgboost_preds_joost_rc.pdf
results/nested/log_lasso_nested_classif.txt
results/nested/randomForest_nested_classif.txt
results/nested/xgboost_nested_classif.model
results/nested/xgboost_nested_classif.txt
results/nested/xgboost_nested_preds_herring.csv
results/nested/xgboost_nested_preds_herring_rc.pdf
results/nested/xgboost_nested_preds_joost.csv
results/nested/xgboost_nested_preds_joost_rc.pdf
results/network_GBF/log_lasso_GBF_classif.txt
results/network_GBF/log_ridge_GBF_classif.txt
results/network_GBF/randomForest_GBF_classif.txt
results/network_GBF/xgboost_GBF_classif.model
results/network_GBF/xgboost_GBF_classif.txt
results/network_GBF/xgboost_GBF_preds_herring.csv
results/network_GBF/xgboost_GBF_preds_herring_rc.pdf
results/network_GBF/xgboost_GBF_preds_joost.csv
results/network_GBF/xgboost_GBF_preds_joost_rc.pdf
results/network_GS/log_lasso_GS_classif.txt
results/network_GS/log_ridge_GS_classif.txt
results/network_GS/randomForest_GS_classif.txt
results/network_GS/xgboost_GS_classif.model
results/network_GS/xgboost_GS_classif.txt
results/network_GS/xgboost_GS_preds_herring.csv
results/network_GS/xgboost_GS_preds_herring_rc.pdf
results/network_GS/xgboost_GS_preds_joost.csv
results/network_GS/xgboost_GS_preds_joost_rc.pdf
results/pca/adaboost_500pcs_classif.txt
results/pca/adaboost_50pcs_classif.txt
results/pca/adaboost_5pcs_classif.txt
results/pca/extraTree_500pcs_classif.txt
results/pca/log_lasso_500pcs_classif.txt
results/pca/log_lasso_50pcs_classif.txt
results/pca/log_lasso_5pcs_classif.txt
results/pca/log_ridge_500pcs_classif.txt
results/pca/log_ridge_50pcs_classif.txt
results/pca/log_ridge_5pcs_classif.txt
results/pca/randomForest_500pcs_classif.txt
results/pca/randomForest_50pcs_classif.txt
results/pca/train_500pc_fit.txt
results/pca/xgboost_500pcs_classif.model
results/pca/xgboost_500pcs_classif.txt
results/pca/xgboost_500pcs_preds_herring.csv
results/pca/xgboost_500pcs_preds_herring_rc_10r.pdf
results/pca/xgboost_500pcs_preds_joost.csv
results/pca/xgboost_500pcs_preds_joost_rc_10r.pdf
src/neuralNet.pt
src/training/base_features/xgboost_no_lowvar.py
src/training/base_features/randomForest.py
src/training/nested/xgboost_nested.py
src/venv/

# Large data files
/data/
*.npy

# Report trash
*.log
*.aux
*.bbl
*.blg
*.out
report/report_project2.pdf
*.synctex.gz

# Pycache
*.cypthon-36
__pycache__/
